@{
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Repurpose Network</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    </head>
    <body>
        <h1>Welcome to Repurpose Network!</h1>
        We're still under construction. Check back soon for updates!
    </body>
</html>
